<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.david.mapper.ProblemMapper">

    <resultMap id="ProblemResultMap" type="com.david.judge.Problem" autoMapping="true">
        <id property="id" column="id"/>
        <result property="tags" column="tags" javaType="java.util.List"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    </resultMap>

    <resultMap id="SolutionDtoResultMap" type="com.david.utils.SolutionDto" autoMapping="true">
        <result property="solutionFunctionName" column="solution_function_name"/>
        <result property="outputType" column="output_type"/>
    </resultMap>

    <select id="pageProblems" resultMap="ProblemResultMap">
        SELECT
        *
        FROM
        problems
        <where>
            <if test="keyword != null and keyword != ''">
                AND title LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="difficulty != null">
                AND difficulty = #{difficulty}
            </if>
            <if test="category != null">
                AND category = #{category}
            </if>
            <if test="isVisible != null">
                AND is_visible = #{isVisible}
            </if>
        </where>
        ORDER BY id ASC
    </select>
    <select id="selectSolutionFunctionNameAndOutputType" resultMap="SolutionDtoResultMap">
        select distinct solution_function_name, output_type
        from problems
                 left join test_cases_outputs on problems.id = test_cases_outputs.problem_id
        where problem_id = #{problemId}
    </select>
</mapper>
