<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.david.mapper.SolutionCommentMapper">
    <select id="selectCommentsBySolutionId" resultType="com.david.solution.SolutionComments">
        SELECT * FROM solution_comments
        WHERE solution_id = #{solutionId}
        ORDER BY create_time DESC
    </select>
</mapper>
