<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.david.mapper.SolutionMapper">
    <resultMap id="SolutionCardVoResultMap" type="com.david.solution.vo.SolutionCardVo">
        <id property="id" column="id"/>
        <result property="problemId" column="problem_id"/>
        <result property="userId" column="user_id"/>
        <result property="tags" column="tags" javaType="java.util.List"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result property="contentView" column="content"/>
        <result property="title" column="title"/>
        <result property="language" column="language"/>
        <result property="views" column="views"/>
        <result property="comments" column="comments"/>
    </resultMap>
    <update id="updateViews">
        UPDATE solutions
        SET views = views + 1
        WHERE id = #{id}
          AND status = 'APPROVED'
    </update>
    <select id="pageSolutionsCardVos" resultMap="SolutionCardVoResultMap">
        SELECT id, problem_id, user_id, tags, content, title, language, views, comments
        FROM solutions
        <where>
            <if test="problemId != null">
                AND problem_id = #{problemId}
            </if>
            <if test="keyword != null and keyword != ''">
                AND (
                content LIKE CONCAT('%', #{keyword}, '%') ESCAPE '\\'
                OR title LIKE CONCAT('%', #{keyword}, '%') ESCAPE '\\'
                OR language LIKE CONCAT('%', #{keyword}, '%') ESCAPE '\\'
                )
            </if>
            AND status = 'APPROVED'
        </where>
        ORDER BY id DESC
    </select>
    <select id="pageSolutionCardVosByUserId" resultMap="SolutionCardVoResultMap">
        SELECT id, problem_id, user_id, tags, content, title, language, views, comments
        FROM solutions
        WHERE user_id = #{userId}
        ORDER BY id DESC
    </select>

    <resultMap id="SolutionManagementCardVoResultMap" type="com.david.solution.vo.SolutionManagementCardVo">
        <id property="id" column="id"/>
        <result property="problemId" column="problem_id"/>
        <result property="userId" column="user_id"/>
        <result property="title" column="title"/>
        <result property="language" column="language"/>
        <result property="status" column="status" javaType="com.david.solution.enums.SolutionStatus"/>
    </resultMap>
    <select id="pageSolutionManagementCardVos" resultMap="SolutionManagementCardVoResultMap">
        SELECT id, problem_id, user_id, title, language, status
        FROM solutions
        <where>
            <if test="problemId != null">
                AND problem_id = #{problemId}
            </if>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="keyword != null and keyword != ''">
                AND (
                content LIKE CONCAT('%', #{keyword}, '%') ESCAPE '\\'
                OR title LIKE CONCAT('%', #{keyword}, '%') ESCAPE '\\'
                OR language LIKE CONCAT('%', #{keyword}, '%') ESCAPE '\\'
                )
            </if>
        </where>
        ORDER BY id DESC
    </select>
    <select id="selectApprovedById" resultType="com.david.solution.Solution">
        SELECT id, problem_id, user_id, tags, content, title, language, views, comments, status
        FROM solutions
        WHERE id = #{id}
          AND status = 'APPROVED'
    </select>
    <select id="getViews" resultType="java.lang.Long">
        SELECT views
        FROM solutions
        WHERE id = #{id}
    </select>
</mapper>