<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.david.mapper.SolutionMapper">

    <resultMap id="SolutionDto" type="com.david.vo.SolutionVo">
        <id property="id" column="id"/>
        <result property="problemId" column="problem_id"/>
        <result property="userId" column="user_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="language" column="language"/>
        <result property="upvotes" column="upvotes"/>
        <result property="downvotes" column="downvotes"/>
        <result property="status" column="status"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="views" column="views"/>
        <result property="authorUsername" column="authorUsername"/>
        <result property="authorAvatar" column="authorAvatar"/>
    </resultMap>

    <resultMap id="SolutionCardDto" type="com.david.vo.SolutionCardVo">
        <id property="id" column="id"/>
        <result property="problemId" column="problem_id"/>
        <result property="userId" column="user_id"/>
        <result property="title" column="title"/>
        <result property="language" column="language"/>
        <result property="upvotes" column="upvotes"/>
        <result property="downvotes" column="downvotes"/>
        <result property="createdAt" column="created_at"/>
        <result property="views" column="views"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="authorUsername" column="authorUsername"/>
        <result property="authorAvatar" column="authorAvatar"/>
        <result property="tags" column="tags" javaType="java.util.List" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result property="comments" column="comments"/>
        <result property="problem" column="content"/>
    </resultMap>

    <select id="getSolutionsByProblemIdWithPage" resultMap="SolutionCardDto">
        SELECT
        s.id,
        s.problem_id,
        s.user_id,
        s.title,
        s.language,
        s.upvotes,
        s.downvotes,
        s.created_at,
        s.updated_at,
        s.tags,
        s.views,
        s.comments,
        s.content,
        u.username as authorUsername,
        u.avatar as authorAvatar
        FROM
        solutions s
        LEFT JOIN
        user u ON s.user_id = u.user_id
        WHERE
        s.problem_id = #{problemId}
        <if test="title != null and title != ''">
            AND s.title LIKE CONCAT('%', #{title}, '%')
        </if>
        <choose>
            <when test="sort == 'new'">
                ORDER BY s.created_at DESC
            </when>
            <otherwise>
                ORDER BY s.upvotes DESC
            </otherwise>
        </choose>
    </select>
    <select id="getSolutionById" resultType="com.david.vo.SolutionVo">
        SELECT s.id,
               s.problem_id,
               s.user_id,
               s.title,
               s.content,
               s.language,
               s.upvotes,
               s.downvotes,
               s.views,
               s.status,
               s.created_at,
               s.updated_at,
               u.username as authorUsername,
               u.avatar   as authorAvatar
        FROM solutions s
                 LEFT JOIN
             user u ON s.user_id = u.user_id
        WHERE s.id = #{Id}
    </select>

    <update id="incrementViews">
        UPDATE solutions SET views = views + 1 WHERE id = #{id}
    </update>

    <update id="incrementUpvotes">
        UPDATE solutions SET upvotes = upvotes + 1 WHERE id = #{id}
    </update>

    <update id="incrementDownvotes">
        UPDATE solutions SET downvotes = downvotes + 1 WHERE id = #{id}
    </update>
</mapper>