<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.david.mapper.SubmissionMapper">
    <resultMap id="CalendarVo" type="com.david.vo.CalendarVo">
        <result column="created_at" property="date"/>
        <result column="count" property="count"/>
    </resultMap>
    <select id="getSubmissionsStatusByProblemId" resultType="com.david.judge.enums.JudgeStatus">
            select status from submissions where problem_id = #{problemId}
    </select>
    <select id="getSubmissionCalendar" resultMap="CalendarVo">
        SELECT
            CAST(DATE(created_at) AS DATETIME) AS created_at,
            COUNT(id) AS count
        FROM submissions
        WHERE user_id = #{userId}
        GROUP BY CAST(DATE(created_at) AS DATETIME)
        ORDER BY CAST(DATE(created_at) AS DATETIME) ASC
    </select>
</mapper>
