<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.david.mapper.TestCaseOutputMapper">
    <select id="selectByProblemId" resultType="com.david.testcase.TestCaseOutput">
        select *
        from test_cases_outputs
        where problem_id = #{problemId}
    </select>
    <resultMap id="TestCaseOutputDtoResultMap" type="com.david.testcase.dto.TestCaseOutputDto">
        <id property="id" column="id"/>
        <result property="outputType" column="output_type"/>
    </resultMap>
    <select id="selectTestCaseOutputDtoFirstByProblemId" resultMap="TestCaseOutputDtoResultMap">
        select id, output_type
        from test_cases_outputs
        where problem_id = #{problemId}
        limit 1
    </select>
</mapper>
