<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.david.mapper.TokenMapper">
    <select id="findValidToken" resultType="com.david.entity.token.Token">
        SELECT
            id, user_id, token, token_type, expired, revoked
        FROM
            token
        WHERE
            user_id = #{userId} AND token = #{token} AND expired = false AND revoked = false
    </select>
</mapper>
